.board {
	max-width: 1024px;
	min-width: 320px;
	border: 1px solid black;
	background-color: black;
	color: white;
}
	ul {
		padding: 5px;
		margin: 0 !important;
	}

	li {
		list-style-type: none;
		padding: 0 3px !important;
	}

	.card {
		width: 100%;
		min-width: 60px;
	}

	.me {
		display: block;
		clear: both;
	}

	.common {
		height: 180px;
		display: block;
		clear: both;
		margin: 15px 0;
	}

	.players {
		height: 180px;
	}

	.players li {
		color: white;
		background-color: #333;
		border-radius: 2px;
		min-width: 80px;
		height: 140px;
		margin-right: 5px;
		box-sizing: border-box;
	}

	.hidden{
		visibility: hidden;
	}	

button {
	color: black;

}

.inTurn {
	background-color: green;
	width: 100%;
	height:10px;
}

.inAuction {
	background-color: white;
	width: 100%;
	height:10px;
}

.winnerTurn {
	background-color: red;
	width: 100%;
	height:10px;
}